@use "../../theme/index" as *;


.wyx-card-container {
  perspective: 1000px;
  cursor: pointer;
}

/* 将hover放在外层容器 */
.wyx-card-hover:hover .wyx-card {
  transform: rotateY(180deg);
}

.wyx-card-click.clicked .wyx-card {
  transform: rotateY(180deg);
}

.wyx-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    .wyx-card_front, .wyx-card_back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .wyx-card_front {
      background: #ff9a9e;
      color: #333;
    }

    .wyx-card_back {
      background: #a1c4fd;
      color: #333;
      transform: rotateY(180deg);
    }
}