.wyx-ui_lens {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: none;
  line-height: 0;

  .wyx-ui_lens-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .wyx-ui_lens-glass {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 10;
    background-color: #fff;
  }
}
