.wyx-btn_loading {

  .circular {
    width: 100%;
    height: 100%;
    animation: loading-rotate 1.5s linear infinite;
  }

  .path {
    animation: loading-path 1.5s ease-in-out infinite;
    stroke-dasharray: 90 120;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: var(--primary-text);
  }

  @keyframes loading-rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes loading-path {
    0% {
      stroke-dasharray: 1 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90 150;
      stroke-dashoffset: -40;
    }
    100% {
      stroke-dasharray: 90 150;
      stroke-dashoffset: -120;
    }
  }

  #x-path1, #x-path2 {
    fill: none;
    stroke: red;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  
  #x-path1 {
    animation: draw-x1 1.5s ease-in-out forwards;
  }
  
  #x-path2 {
    animation: draw-x2 1.5s ease-in-out forwards;
  }
  
  @keyframes draw-x1 {
    0% {
      stroke-dashoffset: 100;
    }
    50%, 100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes draw-x2 {
    0%, 20% {
      stroke-dashoffset: 100;
    }
    70%, 100% {
      stroke-dashoffset: 0;
    }
  }
  
  /* ✓动画 */
  #check-path1 {
    fill: none;
    stroke: #0fc30f;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  
  #check-path1 {
    animation: draw-check1 2s ease-in-out forwards;
  }
  
  
  @keyframes draw-check1 {
    0% {
      stroke-dashoffset: 100;
    }
    30%, 100% {
      stroke-dashoffset: 0;
    }
  }
}