// 仅导出变量/函数/混入，不产生 CSS 输出
$primary-bg: #1677ff !default;
$primary-border: #1677ff !default;
$primary-color: #fff !default;
$primary-gradient-from: #4f8fff !default;
$primary-gradient-to: #9d4dff !default;
$secondary-bg: #fff !default;
$normal-border: #d9d9d9 !default;
$secondary-color: #333 !default;

.wyx-ui_btns {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
  background: var(--bg);
  padding: 5px;

  &:hover {
    background: var(--primary-hover);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
