.wyx-ui_modal-root {
  position: fixed;
  z-index: 1000;
}

.wyx-ui_modal-root--mask {
  inset: 0;
}

.wyx-ui_modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.wyx-ui_modal {
  background: var(--bg);
  color: var(--primary-text);
  border-radius: 8px;
  box-shadow: var(--shadow-m);
  overflow: hidden;
}

.wyx-ui_modal--dragging {
  cursor: move;
}

.wyx-ui_modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: var(--bg-light);
  box-shadow: var(--shadow-s);
  user-select: none;
}

.wyx-ui_modal-header--draggable {
  cursor: move;
}

.wyx-ui_modal-title {
  font-weight: 600;
  font-size: 16px;
}

.wyx-ui_modal-close {
  background: transparent;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
  color: #666;
  padding: 0;
  transition: 0.15s ease-in-out;

  &:hover {
    background: var(--primary-hover);
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke: var(--primary-text);
      stroke-width: 10;
      stroke-linecap: round;
      transition: all 0.3s ease;
    }
  }
}

.wyx-ui_modal-close:hover {
  color: #000;
}

.wyx-ui_modal-body {
  padding: 16px;
}

.wyx-ui_modal-footer {
  padding: 12px 16px;
  text-align: right;
  .wyx-modal_footer-btn {
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: var(--bg-light);
    color: var(--primary-text);
    font-size: 12px;

    &:hover {
      background: var(--primary-hover);
    }
  }
}