.wyx-ui_lang-btn {
  g {
    transition: transform .2s;
  }
  .wyx-ui_lang-en {
    g:nth-of-type(1) {
      transform: translate(10px, 9px) scale(0.7);
      transform-origin: center center;
    }
    g:nth-of-type(2) {
      transform: translate(-10px, -12px) scale(1.1);
      transform-origin: top left;
    }
  }
  .wyx-ui_lang-zh {
    g:nth-of-type(1) {
      transform: translate(0, 0) scale(1.1);
      transform-origin: top left;
    }
    g:nth-of-type(2) {
      transform: translate(0, 0) scale(0.7);
      transform-origin: right bottom;
    }
  }
}